mixin pie-chart(a,b,c)
    - // a,b,c-% d-четвертая часть дополняет до 100%
    .pie-chart
        - var radius = 2.5
        - a = a || 0
        - a = 3.1415 * radius * 2 * (a / 100);
        - b = b || 0
        - b = 3.1415 * radius * 2 * (b / 100) + a;
        - c = c || 0
        - c = 3.1415 * radius * 2 * (c / 100) + b;


        svg(class = "pie-chart__svg")
            circle(class = "pie-chart__circle pie-chart_color_lightgray" r = radius+"rem" cx = "50%" cy = "50%" stroke-dasharray = "31rem" stroke = "lightgray" stroke-dashoffset = "0")
            circle(class = "pie-chart__circle pie-chart_color_blue" r = radius+"rem" cx = "50%" cy = "50%" stroke-dasharray = c + "rem 31rem" stroke = "darkgray" stroke-dashoffset = "0")
            circle(class = "pie-chart__circle pie-chart_color_orange" r = radius+"rem" cx = "50%" cy = "50%" stroke-dasharray = b + "rem 31rem" stroke = "red" stroke-dashoffset = "0")
            circle(class = "pie-chart__circle pie-chart_color_gray" r = radius+"rem" cx = "50%" cy = "50%" stroke-dasharray = a + "rem 31rem" stroke = "green" stroke-dashoffset = "0")