
.block-line
  padding 10px
  width 100%
  height auto
  display flex
  align-items flex-end
  justify-content space-around
  background-color white
  background-origin content-box
  border-bottom 2px solid gray