
.block-line
  padding 10px
  box-sizing border-box
  width 100%
  height auto
  display flex
  align-items center
  justify-content space-around
  background-color inherit
  background-origin content-box