mixin map(lat,lng)
    .map
        h3 My Google Maps Demo
        div(id="map")
        div.map__down
            .map__message Meet us!
            .map__addres loading..
            .icon1
            .icon2