map(font1,font2,$orange)
  $path = '../'
  .map
    #map
      height 300px
      width 600px
      background-color gray
      border-radius 3px
    &__down
      width 100%
      height 70px
      background-color $orange[0]
      padding 20px
      color white
      box-sizing border-box
      .icon1
        float right
        height 100%
        width 30px
        background url($path+'./img/icon4.png') no-repeat center
      .icon2
        float right
        height 100%
        width 30px
        background url($path+'./img/icon5.png') no-repeat center
    &__message
      font-family font1
      font-size 30px
      height 100%
      line-height 100%
      margin 0 20px
      float left

    &__addres
      font-family font2
      font-size 14px
      float left
      height 30px
      width auto
      line-height @height
      vertical-align middle