mixin radio(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.name = options.name || 'radio'
    - options.value = options.value || 'value'
    - options.mix = options.mix || ''

    input(type = "radio" class = "radio " + options.mix name = options.name value = options.value)