mixin radio(options)
    - options = options || {}
    - options.name = options.name || 'radio'
    - options.value = options.value || 'value'

    input(checked = options.checked ? true : false type = "radio" class = "radio" name = options.name value = options.value)
