calendar($font1, $font2, $color1, $color2, $white)

  .calendar
    $width = 17.44rem
    width $width
    color $white
    font-family $font1, Arial, sans-serif
    font-weight 400
    text-align center
    background-color $color1[0]
    overflow hidden
    cursor default
    border-radius 0.2rem

    &__day
      font-family $font1, Arial, sans-serif
      font-weight 300
      height 6.81rem
      line-height @height
      font-size 5rem

    &__month
      $height = 2.69rem
      position relative
      height $height
      font-family $font1, Arial, sans-serif
      font-weight 300
      font-size 1.625rem
      line-height @height
      background-color rgba(0,0,0, 0.1)

      & ^[0]__button-left
      & ^[0]__button-right
        position absolute
        top 0
        height $height
        width @height

        &:hover
          background-color rgba(0,0,0, 0.1)

        &::before
          content ''
          position absolute
          top calc(50% - 0.31rem)
          width 0.625rem
          height 0.625rem
          border-right 0.2rem solid $white
          border-bottom 0.2rem solid $white

      & ^[0]__button-left
        left 0

        &::before
          transform rotate(135deg)
          left calc(50% - 0.31rem)

      & ^[0]__button-right
        right 0

        &::before
          transform rotate(-45deg)
          right calc(50% - 0.31rem)

    &__year
      height 2.5rem
      font-family $font1, Arial, sans-serif
      font-weight 300
      font-size 1.875rem
      line-height @height

    &__days-week
      font-family $font1, Arial, sans-serif
      font-weight 900
      font-size 0.625rem
      height 1.69rem
      line-height @height
      background-color rgba(0,0,0, 0.1)
      border none
      border-collapse collapse
      vertical-align middle

      td
        width ($width / 7)

    &__days
      $width = $width + 0.125rem
      margin 0 -0.0625rem
      background-color $color2[0]
      color $white
      font-family $font2, Arial, sans-serif
      font-weight 400
      font-size 1.25rem
      width $width
      border-collapse collapse

      td
        border 0.0625rem solid $white
        width 'calc(%s / 7)' % $width
        height @width
        box-sizing border-box

      & ^[0]__days-month
        color $color2[2]

      & ^[0]__today
        background-color $color1[0]
        color $white

    &__button-today
      font-family $font1, Arial, sans-serif
      font-weight 900
      height 3.06rem
      line-height @height
      background-color $color2[1]
      color $color2[2]
      border-bottom-left-radius 0.2rem
      border-bottom-right-radius 0.2rem

      &:hover
        background-color $color1[0]
        color $white
