mixin calendar
    .calendar.js-calendar
        .calendar__day 0
        .calendar__month month
            .calendar__button-left
            .calendar__button-right
        .calendar__year year
        table(cols = "7").calendar__days-week
            tr
                td.calendar__cell MON
                td.calendar__cell TUE
                td.calendar__cell WED
                td.calendar__cell THU
                td.calendar__cell FRI
                td.calendar__cell SAT
                td.calendar__cell SUN
        table.calendar__days(cols = "7")
            tbody
        .calendar__button-today TODAY
