include ./components/block-line/block-line
include ./components/buttons/standart-button
include ./components/arrow-button/arrow-button
include ./components/percentages/percentages
include ./components/percentages/pie-chart
include ./components/sliders/slider
include ./components/sliders/slider-percent
include ./components/stages/stages


include ./components/form-elements/forma
include ./components/news/news


include ./components/calendar/calendar
include ./components/search/search
include ./components/video/video
include ./components/select/select
include ./components/messaging/messaging
include ./components/map/map
include ./components/user-profile/user-profile
include ./components/photo/photo
include ./components/events/events
include ./components/header/header
