//colors
$blue = #4eb7a8 #28a290
$orange = #e75735 #bf3e1f
$gray = #f2f2f2 #e5e5e5 #8e8d8d
$test = lightgray gray darkgray
.blue
  color white !important
  background-color $blue[0] !important
.orange
  color white !important
  background-color $orange[0] !important

//fonts
@font-face
  font-family lato-r
  src url(../fonts/LatoRegular/LatoRegular.ttf)
@font-face
  font-family lato-b
  src url(../fonts/Lato-Black.ttf)
@font-face
  font-family lato-bold
  src url(../fonts/LatoBold.ttf)
@font-face
  font-family lato-l
  src url(../fonts/lato-light.ttf)
@font-face
  font-family sans-r
  src url(../fonts/SourceSansProRegular/SourceSansProRegular.ttf)
@font-face
  font-family sans-l
  src url(../fonts/SourceSansProLight/SourceSansProLight.ttf)

body
    background #fff
    margin 0
    padding 10%

@import "../components/block-line/main.styl"

@import "../components/buttons/standart-button"
standart-button(lato-b,$blue,$orange)

@import "../components/arrow-button/arrow-button.styl"
arrow-button($blue, $orange)

@import "../components/percentages/percentages.styl"
percentages(lato-l,$blue,$orange)

@import "../components/percentages/pie-chart.styl"
pie-chart(lato-l,$blue,$orange)

@import "../components/sliders/slider.styl"
slider(lato-r,$blue)

@import "../components/sliders/slider-percent.styl"
slider-percent(lato-r,$blue)

@import "../components/stages/stages.styl"
stages(lato-r,$blue, $orange)


@import "../components/form-elements/main.styl"
forma(sans-r,lato-b,$blue, $orange)

@import "../components/news/main.styl"
news(lato-l,lato-bold,lato-r,$blue, $orange)

@import "../components/events/events.styl"
events(lato-l,lato-bold,lato-r,$blue, $orange)





@import "../components/search/main.styl"
search(sans-r,$blue,$orange)

@import "../components/select/main.styl"
select($blue)



@import "../components/messaging/main.styl"
messaging(sans-l,lato-r,$blue,$orange)

@import "../components/map/map.styl"
map(lato-l,lato-bold,$orange)

@import "../components/user-profile/main.styl"
user-profile(lato-r,$blue,$orange)

@import "../components/photo/photo.styl"
photo()

@import "../components/calendar/calendar.styl"
calendar(lato-l,lato-bold,sans-r,$orange,$gray)

@import "../components/header/header.styl"
header($orange,lato-bold)

@import "../components/video/video.styl"
video(lato-l,$orange)
