//colors
$white = white
$black = black
$blue = #4eb7a8 #28a290
$orange = #e75735 #bf3e1f
$gray = #f2f2f2 #e5e5e5 #8e8d8d #9d9d9d #747474
//paths
$path-img = '~img/'
//fonts
@import "~fonts/Lato/Lato.styl"

@import "~fonts/SourceSansPro/SourceSansPro.styl"

body
  font-family Lato, Arial, sans-serif
  font-weight 400


@import "~components/standart-button/standart-button"
standart-button(Lato, $blue, $orange, $gray , $white)

@import "~components/arrow-button/arrow-button.styl"
arrow-button($blue, $orange, $gray, $white)

@import "~components/percentages/percentages.styl"
percentages(Lato, $orange, $gray, $white)

@import "~components/pie-chart/pie-chart.styl"
pie-chart($blue, $orange, $gray, $white)

@import "~components/slider/slider.styl"
slider(Lato, $blue, $orange, $gray, $white)

@import "~components/stages/stages.styl"
stages(Lato, $blue, $orange, $gray, $white)

@import "~components/search/search.styl"
search(SourceSansPro, $blue, $orange, $gray, $white, $path-img)

@import "~components/select/select.styl"
select(SourceSansPro, $blue, $gray, $white)

@import "~components/user-profile/user-profile.styl"
user-profile(Lato, $blue, $orange, $gray, $white, $path-img)

@import "~components/news/news.styl"
news(Lato, $blue, $orange, $gray, $white)

@import "~components/events/events.styl"
events(Lato, $blue, $orange, $gray, $white)

@import "~components/map/map.styl"
map(Lato, $orange, $gray, $white, $path-img)

@import "~components/calendar/calendar.styl"
calendar(Lato, SourceSansPro, $orange, $gray, $white)

@import "~components/messaging/messaging.styl"
messaging(Lato, SourceSansPro, $blue, $orange, $gray, $white, $path-img)

@import "~components/video/video.styl"
video(Lato, $orange, $gray, $white, $black, $path-img)

// другие компоненты
@import "~components/photo/photo.styl"
photo($gray, $white)

@import "~components/header/header.styl"
header(Lato, $orange, $white, $path-img)

@import "~components/form-elements/input-string/input-string.styl"
input-string(Lato, SourceSansPro, $blue, $orange, $gray, $white)

@import "~components/form-elements/textarea/textarea.styl"
textarea(SourceSansPro, $gray)

@import "~components/form-elements/radio/radio.styl"
radio($blue, $orange, $gray, $white)

@import "~components/form-elements/checkbox/checkbox.styl"
checkbox(Lato, $blue, $gray, $white)

