include ./components/standart-button/standart-button
include ./components/block-line/block-line
include ./components/arrow-button/arrow-button
include ./components/percentages/percentages
include ./components/percentages/pie-chart
include ./components/form-elements/forma
include ./components/news/news
include ./components/stages/stages
include ./components/slider/slider
include ./components/calendar/calendar
include ./components/search/search
include ./components/video/video
include ./components/select/select
include ./components/messaging/messaging
include ./components/map/map
include ./components/user-profile/user-profile
include ./components/photo/photo
include ./components/events/events