doctype html
include ./components/standart-button/standart-button
include ./components/block-line/block-line
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Flat_UI
    body

        +standart-button('Button','standart-button_normal','standart-button_orange')

        +block-line
        +block-line