photo($gray, $white)

  .photo
    $size = 94px
    width $size
    height $size
    border-radius 47px
    box-sizing border-box
    border 5px solid $gray[1]
    background $gray[1] no-repeat center
    text-align center
    line-height $size
    color $white
