mixin photo(options)
    - options = options || {}
    if (options.src)
        - options.src = require('../../img/' + options.src + '.png')
        img.photo(src = options.src alt = "photo")
    else
        .photo no photo