@import "../../all_included.styl"

body
  min-height 100vh
  margin 0
  padding 0
  background-color $gray[0]
  display flex
  flex-direction column

  main
    flex 1
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-around
    margin 0 auto
    width 696px
    @media (max-width:712px)
      margin 0
      width 100%
    @media (min-width:1000px)
      margin auto
      width 696px
    padding 20px
    box-sizing border-box
    background-color white

    &:before
      content attr(date-title)
      color $gray[1]
      margin-bottom 1.2rem
      width 80%
      height 1.5rem
      line-height @height
      text-align center
      font-size 1.2rem

    .form-registration
      width 18rem
      padding 0.6rem

      &__container-line
        width 100%
        display flex
        margin-bottom 0.8rem

      &__label
        display flex

      &__label-text
        margin auto 0.8rem
