standart-button($font, $blue, $orange, $gray, $white)

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1, 1);
    }
  }

  setColor($_color)
    border-color $_color[0]
    box-shadow 0 0.2rem 0 $_color[1]
    color $_color[0]

    &:hover
      background-color $_color[0]

    &.standart-button_size_small
      box-shadow 0 0.125rem 0 $_color[1]

  .standart-button
    position relative
    width 7.375rem
    height 2rem
    box-sizing border-box
    border-radius 0.2rem
    border-style solid
    border-width 1px
    outline none
    overflow hidden
    font-family $font, Arial, sans-serif
    font-weight 900
    font-size 0.75rem
    text-transform uppercase
    text-align center
    vertical-align middle
    background-color  $white
    border-color $blue[0]
    box-shadow 0 0.2rem 0 $blue[1]
    color $blue[0]

    &:hover
      background-color $blue[0]
      color white
      cursor pointer

    &:active
      bottom -0.25rem
      box-shadow none
      border-style solid
      border-width 1px

    &_size_small
      width 4.875rem
      height 1.375rem
      font-size 0.625rem
      box-shadow 0 0.125rem 0 $blue[1]

    &_color_orange
      setColor($orange)

    &:disabled
      setColor($gray)

      &:hover
        background-color $white

    #button__ripple
      position absolute
      width 4rem
      height @width
      border-radius 100%
      background-color $white
      animation ripple 0.7s forwards
      pointer-events none
