stages($font,$blue,$orange)
  .stages
    $diameter = 29px
    $radius = 14.5px
    width 100%
    border 2px green
    display flex
    align-items center
    justify-content space-around

    &__circle
      width $diameter
      height $diameter
      border-radius $radius
      background-color lightgrey
      color gray
      z-index 2
      font-family $font, Arial, sans-serif
      font-weight 700
      flex 0 0 $diameter

    &__text
      text-align center
      line-height $diameter

    &__line
      flex 2 2 50px
      margin -5px
      height 5px
      background-color lightgrey

    &_color_orange
      background-color $orange[0]
      color white

    &_color_blue
      background-color $blue[0]
      color white
