stages($font,$blue,$orange)
    .stages
        width 100%
        $diameter = 30px
        $radius = 15px
        border 2px green
        display flex
        align-items center
        justify-content space-around
        &__circle
            width $diameter
            height $diameter
            border-radius $radius
            background-color lightgrey
            color gray
            z-index 2
            font-family $font, Arial, sans-serif
            font-weight 700
            flex 0 0 30px
        &__text
            text-align center
            line-height 30px
        &__line
            flex 2 2 50px
            margin -5px
            height 5px
            background-color lightgrey
        &_color-orange
            background-color $orange[0]
            color white
        &_color-blue
            background-color $blue[0]
            color white
