news(font1,font2,font3,$blue,$orange)
  $color = $blue
  .news
    width 288px
    height 212px
    border-radius 3px
    color white
    background-image url(./img/Layer.png)
    background-repeat no-repeat
    background-size contain
    &__text
      float right
      width 193px
      height 100%
      padding 0 20px
      box-sizing border-box
      background-color $blue[0]
      font-size 12px
      border-top-right-radius 3px
      border-bottom-right-radius 3px
    h1
      font-family font1
      font-weight 100
    h4
      font-family font2
      text-transform uppercase
    p
      font-family font3
    &_orange
      .news__text
        background-color $orange[0]