mixin news(options)
    - // (date,title,text,color,url)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.src = options.src || 'Layer'
    - var url = require('../img/'+options.src+'.png')
    if (options.color !== 'blue' && options.color !== 'orange')
        - options.color = 'blue'
    - options.date = options.date || '1 January'
    - options.title = options.title || 'title'
    - options.text = options.text || 'text'
    - options.mix = options.mix || ''

    div(class="news news_color_" + options.color + " " + options.mix)
        img.news__img(src = url alt = "news")
        .news__text
            h2.news__title #{options.title}
            h4.news__date #{options.date}
            p.news__desription #{options.text}
