mixin percentages(num)
    - num = num || 0
    .percentages
        svg(class="percentages__svg")
            - var radius = 2.8125
            - var N = 3.1415 * radius * 2 * (num / 100);
            circle(class = "percentages__circle" cx = "50%" cy = "50%" r = radius+"rem" stroke-dasharray = N + "rem 31rem" stroke-dashoffset = "0")
        .percentages__number #{num}