percentages($font, $orange, $gray, $white)

  @keyframes start{
    from {stroke-dashoffset: 300}
    to {stroke-dashoffset: 0}
  }

  .percentages
    $size = 6.25rem
    width $size
    height $size
    background-color $white
    font-family $font, Arial, sans-serif
    font-weight 300
    font-size 2.9rem
    color $gray[3]
    display flex
    align-items center
    justify-content space-around
    position relative

    &__svg
      transform  rotate(-90deg)

    &__circle
      //cx cy не работают в фоксе
      fill $white
      stroke $orange[0]
      stroke-width 0.31rem
      animation-name start
      animation-duration 3s

    &__number
      position absolute
      top 0
      left 0
      width $size
      height $size
      line-height $size
      text-align center
