pie-chart($blue,$orange)
    .pie-chart
        $color = $orange
        $size = 100px
        width $size
        height $size
        background-color white
        display flex
        align-items center
        justify-content space-around
        position relative
        &__svg
            transform  rotate(-90deg)
        &__circle
            // cx cy не работают в фоксе
            fill none
            stroke-width 17
            &-orange
                stroke $orange[0]
            &-blue
                stroke $blue[0]
            &-gray
                stroke #747474
    .pie-chart+div
        padding-left 15px
        p
            position relative
        p:before
            content ''
            width 10px
            height 10px
            position absolute
            top 5px
            left -15px
            background-color #747474
        p:nth-child(2):before
            background-color $orange[0]
        p:nth-child(3):before
            background-color $blue[0]
        p:nth-child(4):before
            background-color lightgray
