@import "../../all_included.styl"

*
  box-sizing border-box

body
  margin 0
  background-color lightgrey

  .main
    width 70%
    @media (max-width:1000px)
      width 80%
    @media (max-width:800px)
      width 100%

    padding 8.2% 5.3% 10.9% 5.3%
    margin 0 auto
    background-color white

    &__standart-buttons
      margin-bottom 2.2rem

    &__arrow-buttons
      margin-bottom 2.9rem

    &__percentages
      margin-bottom 2rem

    &__sliders
      margin-bottom 2.5rem

    &__stages
      margin-bottom 3.5rem

    &__form-elements
      margin-bottom 4.2rem

    &__container-line
      display flex
      align-items flex-start
      justify-content space-between
      flex-wrap wrap

    &__news-events
      margin-bottom 3rem

    &__video
      margin-bottom 2rem

    .title
      font-size 1.1rem
      font-family Lato
      font-weight 900
      color #4f4f4f
      text-transform uppercase
      text-align center
      letter-spacing 0.07rem

    .standart-buttons-container

      &__title
        margin-bottom 4.2rem

      &__container
        display flex
        align-items flex-end
        justify-content space-between
        flex-wrap wrap
        padding 0 11%

      &__button
        margin-bottom 1.4rem

    .arrow-buttons-container

      &__title
        margin-bottom 2.2rem

      &__container
        display flex
        align-items flex-start
        justify-content space-between
        flex-wrap wrap
        margin 1.4rem 0
        padding 0 15%

    .percentages-container

      &__title
        margin-bottom 1.2rem

      &__container
        display flex
        justify-content space-between
        flex-wrap wrap
        margin 1.4rem 0
        padding 0 1%

    .sliders-container

      &__title
        margin-bottom 0.45rem

      &__container
        display flex
        justify-content space-between
        flex-wrap wrap

      &__slider
        width 44%

    .stages-container

      &__title
        margin-bottom 1.5rem

    .form-elements-container

      &__title
        margin-bottom 2.95rem

      &__container-line
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items flex-start

      &__container-column
        width 48.4%
        justify-content flex-start

    .form-container

      &__element
        margin-bottom 0.75rem

      &__button
        float right

      &__clearfix
        clear both

    .toggles-container
      margin-bottom 2.2rem

      &__title
        margin-bottom 1.5rem

      &__container
        display flex
        justify-content space-between
        flex-wrap wrap
        width 9rem
        margin 0 auto

    .tick-boxes-container
      margin-bottom 0.2rem

      &__title
        margin-bottom 1.9rem

      &__container
        display flex
        flex-wrap wrap
        justify-content space-around
        width 5rem
        margin 0 auto

    .search-drop-down-container
      margin-bottom 2rem
      width 48.5%

      @media (max-width:600px)
        width 100%

      &__title
        margin-bottom 1.3rem

      &__container
        margin-bottom 1rem

    .user-profile-container
      margin-bottom 4.2rem
      padding-right 0.3%
      width 45.5%

      @media (max-width:600px)
        width 100%

      &__title
        margin-bottom 1.9rem

      &__container
        margin-bottom 1.6rem

    .news-events-container

      &__title
        margin-bottom 2.05rem

      &__container
        display flex
        justify-content space-between
        flex-wrap wrap

      &__element
        width  48.5%
        @media (max-width:650px)
          width 100%
          margin-bottom 1.6rem

    .location-container
      margin-bottom 3.2rem

      &__title
        margin-bottom 1.9rem

    .calendar-container
      width 17.44rem

      &__title
        margin-bottom 1.5rem

      &__container
        margin-bottom 2rem

    .messaging-container
      width 48.5%
      @media (max-width:600px)
        width 100%

      &__title
        margin-bottom 1.5rem

      &__container
        margin-bottom 3.7rem

    .video-container

      &__title
        margin-bottom 1.4rem
