@import "../../all_included.styl"

*
  box-sizing border-box

body
  margin 0
  background-color lightgrey

  main
    width 70%
    padding 8.2% 5.3% 10.9% 5.3%
    margin 0 auto
    background-color white

    .title
      font-size 1.1rem
      font-family Lato
      font-weight 900
      color #4f4f4f
      text-transform uppercase
      text-align center
      letter-spacing 0.07rem

    .container-column
      padding 0
      margin 0
      box-sizing border-box
      display flex
      align-items center
      justify-content space-between
      flex-direction column

    .container-line
      padding 0
      box-sizing border-box
      display flex
      align-items flex-start
      justify-content space-between
      flex-wrap wrap
      margin 0 auto

    .standart-buttons-container
      margin-bottom 3.7rem

      .title
        margin-bottom 4.2rem

      .container-line
        align-items flex-end
        margin 1.4rem 0
        padding 0 11%

    .arrow-buttons-container
      margin-bottom 2.8rem

      .title
        margin-bottom 2.2rem

      .container-line
        margin 1.4rem 0
        padding 0 15%

    .percentages-container
      margin-bottom 2rem

      .title
        margin-bottom 1.2rem

      .container-line
        margin 1.4rem 0
        padding 0 1%

    .sliders-container
      margin-bottom 2.5rem

      .title
        margin-bottom 0.45rem

      .container-line
        margin 0
        padding 0

        &>div
          width 44%

    .stages-container
      margin-bottom 3.5rem

      .title
        margin-bottom 1.5rem

      .container-line
        margin 0
        padding 0 1%

    .form-elements-container
      margin-bottom 4.2rem

      .title
        margin-bottom 2.95rem

      .container-line
        align-items flex-start
        margin 0
        padding 0

        forma
          width 48.4%

          .submit-mix
            float right

        .container-column
          justify-content flex-start
          margin-right 12%

          .toggles-container
            margin-bottom 2.2rem

            .title
              margin-bottom 1.5rem

          .tick-boxes-container
            margin-bottom 0.2rem

            .title
              margin-bottom 1.9rem

            .container-line
              justify-content space-around
    .search-drop-down-container
      margin-bottom 2rem
      width 48.5%

      .title
        margin-bottom 1.3rem

      .container-line
        margin-bottom 1rem

    .user-profile-container
      margin-bottom 4.3rem
      width 45.5%
      padding-right 0.3%

      .title
        margin-bottom 1.9rem

      .container-line
        margin-bottom 1.6rem

    .news-events-container
      margin-bottom 3rem

      .title
        margin-bottom 2.05rem

      .container-line
        margin-bottom 1.6rem

        &>div
          width 48.5%

    .location-container
      margin-bottom 3.2rem

      .title
        margin-bottom 1.9rem

    .calendar-container
      margin-bottom 2rem
      width 48.5%

      .title
        margin-bottom 1.5rem

    .messaging-container
      margin-bottom 3.7rem
      width 48.5%

      .title
        margin-bottom 1.5rem

    .video-container
      margin-bottom 2rem

      .title
        margin-bottom 1.4rem