include ../../all_included
doctype html
html
    head
        meta(charset = "utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content="Ui-Kit БЭМ компоненты")
        +favicons()
        title Ui-Kit
    body
        mixin title(text)
            .title #{text}

        main.main
            .main__standart-buttons
                .standart-buttons-container
                    .standart-buttons-container__title
                        +title('standard buttons')
                    .standart-buttons-container__container
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'blue'})
                        .standart-buttons-container__button
                            +standart-button()
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'normal', color: 'orange'})
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'orange'})
                    .standart-buttons-container__container
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'blue'})
                        .standart-buttons-container__button
                            +standart-button()
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'normal', color: 'orange'})
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'orange'})
                    .standart-buttons-container__container
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'blue'})
                        .standart-buttons-container__button
                            +standart-button()
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'normal', color: 'orange'})
                        .standart-buttons-container__button
                            +standart-button({title: 'button', size: 'small', color: 'orange'})
            .main__arrow-buttons
                .arrow-buttons-container
                    .arrow-buttons-container__title
                        +title('arrow buttons')
                    .arrow-buttons-container__container
                        +arrow-button({orientation: 'left'})
                        +arrow-button()
                        +arrow-button({orientation: 'left', disabled: true})
                        +arrow-button({orientation: 'right', color: 'orange', disabled: true})
                        +arrow-button({orientation: 'left', color: 'orange'})
                        +arrow-button({orientation: 'right', color: 'orange'})
            .main__percentages
                .percentages-container
                    .percentages-container__title
                        +title('percentages / pie-chart')
                    .percentages-container__container
                        +percentages(0)
                        +percentages(38)
                        +percentages(62)
                        +percentages(89)
                        +pie-chart(10,25,30)
            .main__sliders
                .sliders-container
                    .sliders-container__title
                        +title('sliders')
                    .sliders-container__container
                        .sliders-container__slider
                            +slider({ min: 0, max: 100, value: 40, view: true, color: 'orange' })
                        .sliders-container__slider
                            +slider({ value: 75, line: true, numbers: true })
            .main__stages
                .stages-container
                    .stages-container__title
                        +title('stages')
                    .stages-container__container
                        +stages({color: 'orange'})
            .main__form-elements
                .form-elements-container
                    .form-elements-container__title
                        +title('form elements')
                    .form-elements-container__container-line
                        .form-elements-container__container-column
                            form.form-container
                                .form-container__element
                                    +input-string({ placeholder: 'Your Name' })
                                .form-container__element
                                    +input-string({ type: 'email', placeholder: 'Your Email' })
                                .form-container__element
                                    +textarea({ placeholder: 'Your Message' })
                                .form-container__button
                                    +standart-button({ title: 'submit' })
                                .form-container__clearfix
                        .form-elements-container__container-column
                            .toggles-container
                                .toggles-container__title
                                    +title('toggles')
                                .toggles-container__container
                                    +checkbox()
                                    +checkbox({ checked: true })
                            .tick-boxes-container
                                .tick-boxes-container__title
                                    +title('tick-boxes')
                                .tick-boxes-container__container
                                    +radio({ checked: true })
                                    +radio()
            .main__container-line
                .search-drop-down-container
                    .search-drop-down-container__title
                        +title('search / drop down')
                    .search-drop-down-container__container
                        +search()
                    .search-drop-down-container__container
                        +search({ notfound: true })
                    .search-drop-down-container__container
                        +select({ def: 'Choose An Option', list: ['option-1', 'option-2', 'option-3'] })
                .user-profile-container
                    .user-profile-container__title
                        +title('user profile')
                    .user-profile-container__container
                        +user-profile({ name: 'John Smith', prof: 'ux designer', src: 'photo2', color: 'orange' })
                    .user-profile-container__container
                        +user-profile({ name: 'Sarah Brown', prof: 'developer', src: 'photo1', color: 'blue' })
            .main__news-events
                .news-events-container
                    .news-events-container__title
                        +title('news & events')
                    .news-events-container__container
                        .news-events-container__element
                            +news({
                              title: "It'is all going downhill",
                              date: '24 august 2013',
                              text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venanatis. Etiam a ninsi nunc, a tincidunt eros.',
                              color: 'orange'
                            })
                        .news-events-container__element
                            +events({
                              day: '24',
                              month: 'Aug',
                              title: 'this is the title',
                              text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                            })
            .main__location
                .location-container
                    .location-container__title
                        +title('location')
                    +map({ lat: '-33.877685', lng: '151.207077', title: 'Meet Us !' })

            .main__container-line
                .calendar-container
                    .calendar-container__title
                        +title('calendar')
                    .calendar-container__container
                        +calendar()
                .messaging-container
                    .messaging-container__title
                        +title('messaging')
                    .messaging-container__container
                        +messaging({
                          name: 'Sarah Brown',
                          text: 'Hey, so are we cool to meet at the art gallery? Say 8pm',
                          src: 'photo1'
                        })
            .main__video
                .video-container
                    .video-container__title
                        +title('video')
                    +video({ src: 'Travel_New_Zeland', title: 'New Zeland' })

        script(defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRq2hOoLSW3DaHWf2aBP_xFlXdtYH0Oo&callback=initMap")
