mixin events(options)
    - // (day,month,title,text,color,src)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.src = options.src || 'Layer2'
    - var url = require('../img/' + options.src + '.png')
    - var colors = ['blue', 'orange']
    if (options.color !== colors[0] && options.color !== colors[1])
        - options.color = colors[0]
    - options.day = options.day || '1'
    - options.month = options.month || 'Jan'
    - options.title = options.title || 'title'
    - options.text = options.text || 'text'
    - options.mix = options.mix || ''

    div(class="events events_color_" + options.color + " " + options.mix)
        img.events__img(src = url alt = "events")
        .events__text
            .events__date
                .events__date-day #{options.day}
                .events__date-month #{options.month}
            h4.events__title #{options.title}

            p.events__desription #{options.text}
            .events__button
                +standart-button({ title: 'add to calendar', size: 'small', color: options.color })
