mixin events(options)
    - // (day,month,title,text,color,url)
    if !options
        - options = {}
    if (!options.url)
        - options.url = 'Layer2'
    - var url = require('../img/'+options.url+'.png')
    - var colors = ['blue', 'orange'];
    if (options.color !== colors[0] && options.color !== colors[1])
        - options.color = colors[0]
    if !options.day
        - options.day = '1'
    if !options.month
        - options.month = 'Jan'
    if !options.title
        - options.title = 'title'
    if !options.text
        - options.text = 'text'
    div(class="events events_color-" + color, style="background-image: url(" + url + ")")
        .events__text
            .events__date
                .events__date-day #{options.day}
                .events__date-month #{options.month}
            h4 #{options.title}

            p #{options.text}
            .events__button
                +standart-button({ title:'add to calendar', size:'small', color:options.color })