mixin events(day,month,title,text,color,url)
    if (!url)
        -url = 'Layer2'
    -url = require('../img/'+url+'.png')
    div(class="events events_" + color, style="background-image: url(" + url + ")")
        .events__text
            .events__date
                .events__date-day #{day}
                .events__date-month #{month}
            h4 #{title}

            p #{text}
            .events__button
                +standart-button('add to calendar','small',color)