
mixin forma
    form(action="#")
        label
            input(type="text" name="name" placeholder="Your Name" required)
            div
        label
            input(type="email" name="email" placeholder="Your Email" autocomplete="on" required)
            div
        textarea(rows="4" name="message" placeholder="Your Message" required)
        +standart-button({ title:'submit' })
        input(type="checkbox")
        input(type="radio")


