
mixin forma
    form(action="#")
        input(type="text" name="name" placeholder="name" required autofocus)
        input(type="email" name="email" placeholder="email" autocomplete="on" required)
        textarea(rows="4" placeholder="Your message" required)
        +standart-button('submit')
        <input type="checkbox">
        <input type="radio">