include ../all_included
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        +favicons
        title Messages
    body
        +header()
        main(date-title="Messages")
            +messaging({ mix:'messaging-mix', name:'Sarah Brown', text:'Hey, so are we cool to meet at the art gallery? Say 8pm', src:'photo1', color:'orange' })
            +messaging({ mix:'messaging-mix', name:'John Smith', text:'Hey, so are we cool to meet at the art gallery? Say 8pm', src:'photo2', color:'blue' })

        footer
            center
                a(href="./page_registration.html") Sugn up
