doctype html
include ../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Messages
    body
        +header()
        main(date-title="Messages")
            +messaging('Sarah Brown','Hey, so are we cool to meet at the art gallery? Say 8pm','photo1','orange')
            +messaging('John Smith','Hey, so are we cool to meet at the art gallery? Say 8pm','photo2','blue')

        footer
            center
                a(href="./page_registration.html") Sugn up
