doctype html
include ../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        +favicons()
        title Sign up
    body
        +header()
        main(date-title='Sign up')
            forma.send-mes
                +input-email({placeholder: 'Your Email'})
                +input-text({placeholder: 'Your first name'})
                +input-text({placeholder: 'Your last name'})
                div Your age
                label
                    +slider({ mix:'slider-mix', min: 10, max: 100, value: 20 })
                div Your gender
                .container
                    label
                        input(type="radio" class="radio" name="gender" value="male" required)
                        p Male
                    label
                        input(type="radio" class="radio"  name="gender" value="female" required)
                        p Female
                label
                    +checkbox()
                    p I agree <a href="404.html">privacy policy</a>
                +standart-button({ mix:'button-mix', title: 'sign up' })
