include ../all_included
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        +favicons()
        title News
    body
        +header()
        main(date-title='News')
            .container-center
                +select('sorting','by date','by relevance')
            +news({ mix:'news-events-mix', title:"It'is all going downhill", date:'24 august 2013', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venanatis. Etiam a ninsi nunc, a tincidunt eros.', color:'orange', src:'Layer' })
            +events({ mix:'news-events-mix', day:'10', month:'Dec', title:'HolyJS 2017 Moscow', text:'HolyJS is a unique conference dedicated to JavaScript only.', color:'orange', src:'moskau' })
            +news({ mix:'news-events-mix', title:"RALLY DAKAR-2017", date:'15 january 2017', text:'The Russian KAMAZ-master team triumphantly returned the Champion title in the extreme rally-marathon Dakar.', color:'blue', src:'rally' })
            +events({ mix:'news-events-mix', day:'9', month:'Sep', title:'this is Event', text:'Lorem ipsum Lorem ipsum Lorem ipsum' })
            +video({ mix:'video-map-mix', src:'Travel_New_Zeland', title:'New Zeland' })
            +news({ mix:'news-events-mix', title:"It'is all going downhill", date:'26 december 2016', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })
            +news({ mix:'news-events-mix', title:"It'is all going downhill", date:'20 august 2017', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })
            +map({ mix:'video-map-mix', lat:'-33.877685', lng:'151.207077', title:'Meet Us !' })
            +news({ mix:'news-events-mix', title:"It'is all going downhill", date:'20 august 2017', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'orange' })
            +events({ mix:'news-events-mix', day:'24', month:'Aug', title:'this is title', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'orange' })
            +events({ mix:'news-events-mix', day:'24', month:'Aug', title:'this is title', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })

            .arrows
                +arrow-button({ orientation:'left', color:'orange', disabled: true })
                +arrow-button({ orientation:'right', color:'orange' })
            .container-calendar
                input(type="checkbox")
                +calendar()

        footer
            center
                a(href="./page_registration.html") Sugn up

        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRq2hOoLSW3DaHWf2aBP_xFlXdtYH0Oo&callback=initMap")
