doctype html
include ../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title News
    body
        +header()
        main(date-title='News')
            +news("It'is all going downhill",'24 august 2013','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venanatis. Etiam a ninsi nunc, a tincidunt eros.','orange','Layer')
            +events('10','Dec','HolyJS 2017 Moscow','HolyJS is a unique conference dedicated to JavaScript only.','orange','moskau')
            +news("RALLY DAKAR-2017",'15 january 2017','The Russian KAMAZ-master team triumphantly returned the Champion title in the extreme rally-marathon Dakar.','blue','rally')
            +events('9','Sep','this is Event','Lorem ipsum Lorem ipsum Lorem ipsum')
            +video('Travel_New_Zeland','New Zeland')
            +news("It'is all going downhill",'26 december 2016','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','blue')
            +news("It'is all going downhill",'20 august 2017','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','blue')
            +map('-33.877685','151.207077','Meet Us !')
            +news("It'is all going downhill",'20 august 2017','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','orange')
            +events('24','Aug','this is title','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','orange')
            +events('24','Aug','this is title','Lorem ipsum dolor sit amet, consectetur adipiscing elit.','blue')

            .arrows
                +arrow-button('arrow-button_left','arrow-button_orange','disabled')
                +arrow-button('arrow-button_right','arrow-button_orange')
        footer
            center
                a(href="./page_registration.html") Sugn up

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRq2hOoLSW3DaHWf2aBP_xFlXdtYH0Oo&callback=initMap" >
        </script>