doctype html
include ../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title PAGE
    body
        header
            div.logo
            nav
                ul
                    li
                        a(href="#") news
                    li
                        a(href="#") messages
                    li
                        a(href="#") friends
            div.search
        main
            div страница в разработке
            +standart-button('button')
        footer
