
@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Hairline.ttf') format('truetype'),
          url('~fonts/Lato/lato-hairline-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-hairline-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Thin.ttf') format('truetype'),
          url('~fonts/Lato/lato-thin-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Light.ttf') format('truetype'),
          url('~fonts/Lato/lato-light-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Regular.ttf') format('truetype'),
          url('~fonts/Lato/lato-regular-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Medium.ttf') format('truetype'),
          url('~fonts/Lato/lato-medium-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Semibold.ttf') format('truetype'),
          url('~fonts/Lato/lato-semibold-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Bold.ttf') format('truetype'),
          url('~fonts/Lato/lato-bold-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Heavy.ttf') format('truetype'),
          url('~fonts/Lato/lato-heavy-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-heavy-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

@font-face
  font-family Lato
  src: url('~fonts/Lato/Lato-Black.ttf') format('truetype'),
          url('~fonts/Lato/lato-black-webfont.svg') format('svg'),
          url('~fonts/Lato/lato-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
