mixin textarea(options)
    - options = options || {}
    - options.placeholder = options.placeholder || 'placeholder'
    - options.name = options.name || 'message'
    - options.required = options.required || true

    textarea.textarea(required = options.required ? true : false name = options.name placeholder = options.placeholder)