input-text($font1, $font2, $blue, $orange, $gray, $white)

  .input-text
    width 100%
    display flex
    margin-bottom 12px

    &__input
      float left
      display block
      box-sizing border-box
      width 208px
      height 28px
      padding 4px 1rem
      margin-right 8px
      background-color $gray[1]
      border-radius 3px
      border none
      outline none
      font-family $font2, Arial, sans-serif
      font-weight 400
      font-size 14px
      line-height @height
      color $gray[2]

      & + .input-text__status
        position relative
        float right
        width 72px
        margin 0
        height 28px
        background-color $gray[1]
        border-radius 5px
        font-family $font1, Arial, sans-serif
        font-weight 900
        font-size 10px

        &::before
          content ''
          top 9px
          left -3px
          position absolute
          width 10px
          height 10px
          background-color inherit
          transform rotate(-45deg)
        &::after
          position absolute
          content 'test'
          width 70px
          height 28px
          text-transform uppercase
          color $white
          text-align center
          line-height @height

      &:invalid + .input-text__status
        background-color $orange[0]
        &::after
          content 'error'

      &:valid + .input-text__status
        background-color $blue[0]
        &::after
          content 'thanks!'
