mixin input-text(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.placeholder = options.placeholder || 'placeholder'
    - options.name = options.name || 'name'


    label.input-text
        input.input-text__input(type = "text" name = options.name placeholder = options.placeholder required)
        .input-text__status
