mixin arrow-button(options)
    - options = options || {}
    - var orientations = ['right', 'left']; colors = ['blue', 'orange'];
    if (options.orientation !== orientations[0] && options.orientation !== orientations[1])
        - options.orientation = orientations[0]
    if (options.color !== colors[0] && options.color !== colors[1])
        - options.color = colors[0]

    button(disabled = !!options.disabled class = "arrow-button arrow-button_orientation_" + options.orientation + " arrow-button_color_" + options.color)
        .arrow-button__arrow
