mixin select(options)
    - options = options || {}
    - options.def = options.def || 'default'
    if (!options.list || (!Array.isArray(options.list)))
        - options.list = ['']

    form(action = "404" class = "select")
        select.select__select
            option(disabled selected)= options.def
            each item in options.list
                option=item
        .select__arrow
