mixin select()
    <form action="#" class="select">
        div
        select
            option(disabled selected) Choose An Options
            option option 1
            option option 2
            option option 3
