slider($font, $blue, $orange, $gray, $white)
  $color = $blue[0]
  // track - линия
  $track-color = $gray[1]
  // thumb - ползунок
  $thumb-radius = 10px
  $thumb-size = 20px

  track()
    width 100%
    height 5px
    border-radius 5px
    background-color $track-color
    cursor pointer
  thumb()
    margin-top -7.5px
    height $thumb-size
    width $thumb-size
    border-radius $thumb-radius
    background $color
    cursor pointer

  .slider
    position relative
    font-family $font, Arial, sans-serif
    font-weight 700
    width 100%

    &__view
      position absolute
      width 35px
      height 24px
      background-color $color
      border-radius 5px
      top 0
      left 50% - 17.5px
      color $white
      text-align center
      line-height 24px

      &::after
        content ''
        bottom -2px
        left 15.7px
        position absolute
        width 5px
        height 5px
        background-color inherit
        transform rotate(-45deg)

    &__line
      background-color $color
      width 10px
      height 5px
      border-radius 5px
      position absolute
      top 39px
      left 0

    &__input
      -webkit-appearance none
      -moz-appearance none
      width 100%
      margin 39px 0 0 0

      &:focus
        outline none

      &::-webkit-slider-runnable-track
        track()

      &::-webkit-slider-thumb
        -webkit-appearance none
        thumb()

      &::-moz-range-track
        track()

      &::-moz-range-thumb
        thumb()
        border none

    &__numbers
      padding 7px 2px 0 2px
      color $gray[1]
      font-size 10px
      display flex
      justify-content space-between
      
    &_color_orange
      $color = $orange[0]

      .slider

        &__view, &__line
          background-color $color

        &__input

          &::-webkit-slider-thumb
            background $color

          &::-moz-range-thumb
            background $color
      
      
      
      