slider($font, $blue, $orange, $gray, $white)
  $color = $blue[0]
  // track - линия
  $track-color = $gray[1]
  // thumb - ползунок
  $thumb-radius = 0.625rem
  $thumb-size = 1.25rem
  h = 0.31rem

  track()
    width 100%
    height h
    border-radius h
    background-color $track-color
    cursor pointer
  thumb()
    margin-top -0.5rem
    height $thumb-size
    width $thumb-size
    border-radius $thumb-radius
    background $color
    cursor pointer

  .slider
    position relative
    font-family $font, Arial, sans-serif
    font-weight 700
    width 100%

    &__view
      position absolute
      width 2.2rem
      height 1.5rem
      background-color $color
      border-radius h
      top 0
      left 50%
      color $white
      text-align center
      line-height 1.5rem

      &::after
        content ''
        bottom -0.125rem
        left 1rem
        position absolute
        width h
        height h
        background-color inherit
        transform rotate(-45deg)

    &__line
      background-color $color
      width 0.625rem
      height h
      border-radius h
      position absolute
      top 2.44rem
      left 0
      pointer-events none

    &__input
      -webkit-appearance none
      -moz-appearance none
      width 100%
      margin 0
      padding-top 2.44rem
      background-color transparent

      &:focus
        outline none

      &::-webkit-slider-runnable-track
        track()

      &::-webkit-slider-thumb
        -webkit-appearance none
        thumb()

      &::-moz-range-track
        track()

      &::-moz-range-thumb
        thumb()
        border none

    &__numbers
      padding 0.44rem 0.125rem 0 0.125rem
      color $gray[1]
      font-size 0.625rem
      display flex
      justify-content space-between
      
    &_color_orange
      $color = $orange[0]

      & ^[0]

        &__view, &__line
          background-color $color

        &__input

          &::-webkit-slider-thumb
            background $color

          &::-moz-range-thumb
            background $color
