doctype html
include ../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Ui-Kit
    body
        .block-line
            +standart-button('button','small','blue')
            +standart-button('button')
            +standart-button('button','normal','orange')
            +standart-button('button','small','orange')
        .block-line
            +arrow-button('arrow-button_left','arrow-button_orange','disabled')
            +arrow-button('arrow-button_right','arrow-button_orange','disabled')
            +arrow-button('arrow-button_left')
            +arrow-button()
            +arrow-button('arrow-button_left','arrow-button_orange')
            +arrow-button('arrow-button_right','arrow-button_orange')
        .block-line
            +percentages(0)
            +percentages(38)
            +percentages(50)
            +percentages(62)
            +percentages(89)
            +percentages(100)
        .block-line
            +pie-chart(10,25,30)
            +pie-chart()
            +pie-chart(0,20,30)
        .block-line
            +slider
            +slider(-5,12,1)
            +slider-percentage(30)
        .block-line
            +stages(3,5,'orange')
        .block-line
            +forma
        .block-line
            +search
        .block-line
            +search('notfound')
        .block-line
            +select
        .block-line
            +user-profile('John Smith','ux designer','./img/photo2.png','orange')
        .block-line
            +user-profile('Sarah Brown','developer','./img/photo1.png','blue')
        .block-line
            +news("It'is all going downhill",'24 august 2013','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venanatis. Etiam a ninsi nunc, a tincidunt eros.','orange')
        .block-line
            +events('24','Aug','this is title','Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
        .block-line
            +map()
        .block-line
            +calendar
        .block-line
            +messaging('Sarah Brown','Hey, so are we cool to meet at the art gallery? Say 8pm','./img/photo1.png')
        .block-line
            +video('video/Travel_New_Zeland','New Zeland')
        .block-line
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRq2hOoLSW3DaHWf2aBP_xFlXdtYH0Oo&callback=initMap" >
        </script>
