include ../../all_included
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = "initial-scale=1.0, width=device-width")
        +favicons()
        title News
    body
        +header()
        main.main(date-title='News')
            .main__container-around
                +select({ def:'sorting', list:['by date','by relevance'] })
            .main__container-news
                +news({ title:"It'is all going downhill", date:'24 august 2013', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venanatis. Etiam a ninsi nunc, a tincidunt eros.', color:'orange', src:'Layer' })
            .main__container-news
                +events({ day:'10', month:'Dec', title:'HolyJS 2017 Moscow', text:'HolyJS is a unique conference dedicated to JavaScript only.', color:'orange', src:'moskau' })
            .main__container-news
                +news({ title:"RALLY DAKAR-2017", date:'15 january 2017', text:'The Russian KAMAZ-master team triumphantly returned the Champion title in the extreme rally-marathon Dakar.', color:'blue', src:'rally' })
            .main__container-news
                +events({ day:'9', month:'Sep', title:'this is Event', text:'Lorem ipsum Lorem ipsum Lorem ipsum' })
            .main__container-around
                +video({ src:'Travel_New_Zeland', title:'New Zeland' })
            .main__container-news
                +news({ title:"It'is all going downhill", date:'26 december 2016', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })
            .main__container-news
                +news({ title:"It'is all going downhill", date:'20 august 2017', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })
            .main__container-around
                +map({ lat:'-33.877685', lng:'151.207077', title:'Meet Us !' })
            .main__container-news
                +news({ title:"It'is all going downhill", date:'20 august 2017', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'orange' })
            .main__container-news
                +events({ day:'24', month:'Aug', title:'this is title', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'orange' })
            .main__container-news
                +events({ day:'24', month:'Aug', title:'this is title', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', color:'blue' })

            .main__container-between
                +arrow-button({ orientation:'left', color:'orange', disabled: true })
                +arrow-button({ orientation:'right', color:'orange' })

            .main__container-calendar

                .calendar-container
                    input.calendar-container__checkbox(type="checkbox")
                    .calendar-container__calendar
                        +calendar()

        footer
            center
                a(href="./page_registration.html") Sugn up

        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRq2hOoLSW3DaHWf2aBP_xFlXdtYH0Oo&callback=initMap")
