@import "../../all_included.styl"

body
  margin 0
  padding 0
  background-color $gray[0]
  min-height 100vh
  display flex
  flex-direction column

  .main
    flex 1
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content flex-start
    margin 0 auto
    padding 20px
    width 696px

    @media (max-width:712px)
      margin 0
      width 100%

    @media (min-width:1000px)
      margin auto
      width 696px

    box-sizing border-box
    background-color white
      
    &:before
      content attr(date-title)
      color $gray[1]
      margin-bottom 1.2rem
      width 80%
      height 1.5rem
      line-height @height
      text-align center
      font-size 1.2rem

    &__container-around
      width 100%
      margin 1.2rem
      display flex
      justify-content space-around

    &__container-between
      width 100%
      margin 1.2rem
      display flex
      justify-content space-between

    &__container-news
      flex 1 0 18rem
      margin 1.2rem

    &__container-calendar

      .calendar-container
        $width = 17.44rem

        &__checkbox
          border-top-right-radius 0.2rem
          border-bottom-right-radius 0.2rem
          width 1.2rem
          height 9rem
          margin 0
          padding 0
          border none
          outline none
          -webkit-appearance none
          -moz-appearance none
          background-color $blue[0]
          position fixed
          top calc(50% - 4.5rem)
          left 0
          -webkit-transition: .15s;

          &:after
            content ''
            position absolute
            top 1.2rem
            left 0
            width 0.6rem
            height 0.6rem
            border-bottom 0.15rem solid white
            border-left 0.15rem solid white
            transform rotate(225deg)

          &:before
            content 'My calendar'
            position absolute
            top 5rem
            left -2.2rem
            height 1.2rem
            line-height 1.2rem
            font-size 1rem
            color white
            width 5.6rem
            transform rotate(-90deg)

          &:checked
            left $width

            &:after
              left 0.5rem
              transform rotate(45deg)

            & + ^[-3..-3]__calendar
              left 0

          & + ^[-2..-2]__calendar
            position fixed
            top calc(50% - 15rem)
            left - $width
            -webkit-transition: .15s;

  footer
    width 100%
    height 1.2rem
    padding 0.6rem 0
    background-color $orange[0]
