user-profile(font1,$blue,$orange)
  .user-profile
    display flex
    align-items center
    width 300px
    font-family font1

    .photo
      margin 0 10px
    &__block
      position relative
      background-color #e5e5e5
      text-align center
      padding 10px
      flex 1 1 50px
      border-radius 10px
      &::before
        content ''
        position absolute
        width 10px
        height 10px
        background-color inherit
        transform rotate(-45deg)
        top calc(50% - 6px)
        left -5px
      .icon1
        width 25px
        height 25px
        background url(./img/icon1.png) no-repeat center
      .icon2
        width 25px
        height 25px
        background url(./img/icon2.png) no-repeat center
      .icon3
        width 25px
        height 25px
        background url(./img/icon3.png) no-repeat center
    &__name
      font-size 1.2em
    &__prof
      font-size 0.8em
      font-weight bold