mixin user-profile(name,prof,url,color)
    - prof = prof.toUpperCase()
    .user-profile
        +photo(url)
        <div class="user-profile__block #{color}">
            .user-profile__name #{name}
            .user-profile__prof #{prof}
            .block-line
                .icon1
                .icon2
                .icon3
        </div>