mixin user-profile(options)
    - options = options || {}
    if (options.color !== 'blue' && options.color !== 'orange')
        - options.color = 'blue'
    - options.name = options.name || 'name'
    - options.prof = options.prof || 'prof'
    - options.mix = options.mix || ''

    div(class = "user-profile " + options.mix)
        .user-profile__photo
            +photo({ src: options.src })
        div(class="user-profile__block user-profile_color_" + options.color)
            .user-profile__name #{options.name}
            .user-profile__prof #{options.prof}
            .user-profile__social-bar
                .user-profile__icon-fb
                .user-profile__icon-twitter
                .user-profile__icon-dribbble
