mixin user-profile(name,prof,photo,color)
    .user-profile
        <div class="user-profile__photo" style="background: url(#{photo})"></div>
        <div class="user-profile__block #{color}">
            h3.user-profile__name #{name}
            h4.user-profile__prof #{prof}
