mixin messaging(options)
    - options = options || {}
    if (options.color !== 'blue' && options.color !== 'orange')
        -options.color = 'blue'
    - options.name = options.name || 'name'
    - options.text = options.text || 'text text text'
    - options.mix = options.mix || ''

    div(class="messaging messaging_color_" + options.color + " " + options.mix)
        .messaging__top
            .messaging__name #{options.name}
            .messaging__img
                .messaging__chat
                .messaging__photo
                    +photo({ src: options.src })
                .messaging__camera
        .messaging__bottom
            .messaging__buble #{options.text}
            textarea.messaging__message(name = "message")
            .messaging__button
                +standart-button({ title: 'reply', color: options.color })
            .messaging__clearfix