mixin messaging(name,text,url)
    .messaging
        .messaging__top
            .messaging__name
                h1 #{name}
            .messaging__img
                .messaging__chat
                +photo(url)
                .messaging__camera
        .messaging__bottom
            .messaging__buble #{text}
            textarea.messaging__message(name="message")
            +standart-button('reply')