input-string($font1, $font2, $blue, $orange, $gray, $white)

  .input-string
    $height = 1.75rem
    $width = 4.5rem
    width 100%
    height $height
    display flex

    &__input
      flex 1 1 1rem
      width 1rem
      height 100%
      padding 0 0.8rem
      margin-right 0.5rem
      background-color $gray[1]
      border-radius 0.2rem
      border none
      outline none
      font-family $font2
      font-size 0.875rem
      line-height @height
      color $gray[2]

      & + ^[0]__status
        position relative
        flex 0 0 $width
        height 100%
        margin 0
        background-color $gray[1]
        border-radius 0.25rem
        font-family $font1
        font-weight 900
        font-size 0.625rem

        &::before
          position absolute
          content ''
          h = $height
          top "calc(%s / 4)" % h
          left -0.15rem
          width "calc(%s / 2)" % h
          height "calc(%s / 2)" % h
          background-color inherit
          transform rotate(-45deg)

        &::after
          position absolute
          content ''
          width $width
          height $height
          text-transform uppercase
          color $white
          text-align center
          line-height @height

      &:invalid + ^[0]__status
        background-color $orange[0]

        &::after
          content 'error'

      &:valid + ^[0]__status
        background-color $blue[0]

        &::after
          content 'thanks!'
