mixin input-string(options)
    - options = options || {}
    - options.placeholder = options.placeholder || 'placeholder'
    - options.name = options.name || 'name'
    - options.type = options.type || 'text'
    - options.required = options.required || true

    label.input-string
        input.input-string__input(required = !!options.required type = options.type name = options.name placeholder = options.placeholder)
        .input-string__status
