include ../../all_included
doctype html
html
    head
        meta(charset = "utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        +favicons
        title Messages
    body
        +header()
        main(date-title="Messages")
            .main-container
                .friends-container
                    label(for = "friend1") Sarah Brown
                    label(for = "friend2") John Smith
                input(type = "radio" id = "friend1" name="friends" checked)
                +messaging({ mix:'messaging-mix', name:'Sarah Brown', text:'Hey, so are we cool to meet at the art gallery? Say 8pm', src:'photo1', color:'orange' })
                input(type = "radio" id = "friend2" name="friends")
                +messaging({ mix:'messaging-mix', name:'John Smith', text:'Hey, so are we cool to meet at the art gallery? Say 8pm', src:'photo2', color:'blue' })

        footer
            center
                a(href="./page_registration.html") Sugn up
