search(font,$blue,$orange)
  $path = '../'
  form.search
    position relative
    width 288px
    padding 0px
    border none
    input[type="search"]
      width 255px
      margin-right 2rem
      background-color lightgrey
      outline none
      border-radius 3px 0 0 3px
      border none
      padding 0 0 0 10px
      font-size 14px
      color gray
      font-family font
    input[type=submit]
      width 33px
      position: absolute;
      top: 0;
      right: 0;
      background-color $blue[0]
      border-radius 0 3px 3px 0
      background-image url($path+'./img/lupa.png')
      background-repeat no-repeat
      background-position center
    input.search-notfound
      background-color $orange[0]
      &::-webkit-input-placeholder
        color white