search($font, $blue, $orange, $gray, $white, $path)

  .search
    w = 2.0625rem
    r = 0.2rem
    $height = 1.75rem
    display flex
    width 100%
    height $height
    padding 0
    border none

    &__input
      display block
      box-sizing border-box
      flex 1 1 3rem
      height 100%
      padding 0 0 0 0.8rem
      margin-right 0
      background-color $gray[1]
      outline none
      border-radius r 0 0 r
      border none
      font-family $font, Arial, sans-serif
      font-weight 400
      font-size 0.875rem
      color $gray[2]

      &_notfound
        background-color $orange[0]

        &::-webkit-input-placeholder
          color $white

        &::-moz-placeholder
          color $white

    &__submit
      -webkit-appearance none
      -moz-appearance none
      flex 0 0 w
      height 100%
      margin 0
      padding 0
      background-color $orange[0]
      border-radius 0 r r 0
      border none
      outline none
      background-image url($path + 'lupa.png')
      background-repeat no-repeat
      background-position center
