mixin search(argument)
    -var text = 'Search'
    if (argument)
        - argument = 'notfound'
        - text = "I've not found what I'm looking for..."
    form(action="#" class="search js-search")
        input(name="qq" class="search-" + argument type="search" placeholder=text)
        input(type="submit" name="" value="" class="submit")