mixin search(options)
    - //(placeholder='search',name='search',notfound=false)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - options.placeholder = options.placeholder || 'Search'
    - options.name = options.name || 'search'
    if options.notfound
        - var mod = 'search_notfound'
        - options.placeholder = "I've not found what I'm looking for..."
    form(action = "#" class = "search js-search")
        input(type = "search" name = options.name class = "search__input " + mod placeholder = options.placeholder)
        input.search__submit(type = "submit" name = "" value = "" class = "submit")