search($font,$blue,$orange)
    $path = '../'
    form.search
        display flex
        width 288px
        padding 0px
        border none
        input[type="search"]
            flex 1 1 255px
            background-color lightgrey
            outline none
            border-radius 3px 0 0 3px
            border none
            padding 0 0 0 10px
            font-size 14px
            color gray
            font-family $font, Arial, sans-serif
            font-weight 400
        input[type=submit]
            flex 0 0 33px
            background-color $blue[0]
            border-radius 0 3px 3px 0
            background-image url($path+'./img/lupa.png')
            background-repeat no-repeat
            background-position center
        input.search-notfound
            background-color $orange[0]
            &::-webkit-input-placeholder
                color white
            &::-moz-placeholder
                color white
