search($font,$blue,$orange)
  $path = '../'
  .search
    display flex
    width 288px
    padding 0px
    border none

    &__input
      $height = 28px
      display block
      flex 1 1 255px
      box-sizing border-box
      width 208px
      height $height
      padding 0 0 0 10px
      margin-right 0
      background-color lightgrey
      outline none
      border-radius 3px 0 0 3px
      border none
      font-family $font, Arial, sans-serif
      font-weight 400
      font-size 14px
      color gray

    &__submit
      -webkit-appearance none
      -moz-appearance none
      flex 0 0 33px
      margin 0px
      padding 0
      background-color $blue[0]
      border-radius 0 3px 3px 0
      border none
      outline none
      background-image url($path+'./img/lupa.png')
      background-repeat no-repeat
      background-position center

    .search_notfound
      background-color $orange[0]
      &::-webkit-input-placeholder
        color white
      &::-moz-placeholder
        color white
