mixin checkbox(options)
    - options = options || {}
    - options.name = options.name || 'radio'
    - options.value = options.value || 'value'

    if options.checked
        input(checked type = "checkbox" class = "checkbox" name = options.name value = options.value)
    else
        input(type = "checkbox" class = "checkbox" name = options.name value = options.value)
