
@font-face
  font-family SourceSansPro
  src: url('~fonts/SourceSansPro/SourceSansProRegular.ttf') format('truetype'),
          url('~fonts/SourceSansPro/sourcesanspro-regular-webfont.svg') format('svg'),
          url('~fonts/SourceSansPro/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

@font-face
  font-family SourceSansPro
  src: url('~fonts/SourceSansPro/SourceSansProLight.ttf') format('truetype'),
          url('~fonts/SourceSansPro/sourcesanspro-light-webfont.svg') format('svg'),
          url('~fonts/SourceSansPro/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

@font-face
  font-family SourceSansPro
  src: url('~fonts/SourceSansPro/SourceSansProBold.ttf') format('truetype'),
          url('~fonts/SourceSansPro/sourcesanspro-bold-webfont.svg') format('svg'),
          url('~fonts/SourceSansPro/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
