mixin header()
    header.main-header
        .main-header__logo
        nav.main-header__nav
            a.main-header__link(href = "./page_news.html") News
            a.main-header__link(href = "./page_messages.html") Messages
            a.main-header__link(href = "./page_friends.html") Friends
            a.main-header__link(href = "./page_stats.html") My stats