header($color,font1)
  .main-header
    display flex
    width 100%
    min-height 50px
    padding 10px 10%
    box-sizing border-box
    background-color $color[0]
    font-family font1
    color white
    &__logo
      width 30px
      height 30px
      background url(../img/icon3.png) center no-repeat
    nav
      flex 1 1 100px
      display flex
      align-items flex-start
      justify-content space-between
      flex-wrap wrap
      min-height 30px
      margin 0 20px;
      overflow hidden
      a
        flex 1 1 50px
        text-decoration none
        margin 0
        padding 4px
        text-align center
        font-size 22px
        line-height 22px
        color white
        &:hover
          border-radius 3px
          background-color $color[1]

  @media (max-width:500px)
    .main-header
      padding 10px
  @media (min-width:1000px)
    .main-header
      padding 10px 15%