header($font, $color, $white, $path)

  .main-header
    display flex
    width 100%
    min-height 3.125rem
    padding 0.625rem calc(50% - 348px)

    @media (max-width: 696px)
      padding 0.625rem

    box-sizing border-box
    background-color $color[0]
    font-family $font, Arial, sans-serif
    font-weight 700
    color $white

    &__logo
      width 1.875rem
      height 1.875rem
      background url($path + 'icon3.png') center no-repeat

    &__nav
      flex 1 1
      display flex
      align-items flex-start
      justify-content space-between
      flex-wrap wrap
      min-height 1.875rem
      margin 0 1.25rem;
      overflow hidden

    &__link
      flex 1 1
      text-decoration none
      margin 0
      padding 0.25rem
      text-align center
      font-size 1.375rem
      line-height 1.375rem
      color $white

      &:hover
        border-radius 0.2rem
        background-color $color[1]
