mixin header()
    header.main-header
        div.main-header__logo
        nav
            a(href="./page_news.html") News
            a(href="./page_messages.html") Messages
            a(href="./page_friends.html") Friends
            a(href="./page_stats.html") My stats