doctype html
include ../../all_included
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        +favicons
        title My stats
    body
        +header()
        main(date-title='My stats')
            .stats-container
                h3.sats-container__title Respect
                .sats-container__data
                    +percentages(87)
            .stats-container
                h3.sats-container__title Activity
                .sats-container__data
                    +percentages(62)
            .stats-container
                h3.sats-container__title Content
                .sats-container__data
                    +pie-chart(10,25,30)
                .sats-container__data
                    .stats-colors
                        p.stats-colors__element.stats-colors__element_color_gray - posts
                        p.stats-colors__element.stats-colors__element_color_orange - photos
                        p.stats-colors__element.stats-colors__element_color_blue - videos
                        p.stats-colors__element.stats-colors__element_color_lightgray - other

        footer
            center
                a(href="./page_registration.html") Sugn up
            