video($font, $orange, $gray, $white, $black)

  .video
    $path = '../img/'
    $height = 3rem
    position relative
    width 100%
    height 21rem
    min-width 200px
    min-height 100px
    background-color $black
    border-radius 0.2rem
    font-family $font, Arial, sans-serif
    font-weight 400
    color $white

    &_full
      position fixed
      top 10vh
      left 10vw
      width 80vw
      height 80vh
      z-index 10

      &::before
        content ''
        width 100vw
        height 100vh
        position fixed
        top 0
        left 0
        background-color rgba(0,0,0, 0.5)
        z-index -1

    &__text
      padding 1.6rem 2.5rem
      box-sizing border-box
      position absolute
      top 0
      left 0
      width 100%

      &-hide
        display none

    &__title
      font-size 2.2rem
      margin-bottom 2.2rem
      font-family $font, Arial, sans-serif
      font-weight 300

    &__src
      font-size 1.1rem

    &__video
      width 100%
      height 100%

    &__controls
      display flex
      position absolute
      bottom 0
      left 0
      width 100%
      height $height
      background-color rgba(0,0,0,0.5)
      border-bottom-right-radius 0.2rem
      border-bottom-left-radius 0.2rem

    &__button
      flex 0 0 $height
      height $height
      background-color transparent

      &:hover
        background-color rgba(255,255,255,0.1)

      &-play
        background url($path + 'play.svg') center no-repeat

      &-pause
        background url($path + 'pause.svg') center  no-repeat

    &__slider
      position relative
      flex 1 1 6.25rem
      margin 0 1.25rem
      height $height
      background-color transparent

      &_line-full
        position absolute
        top 1.375rem
        left 0
        background-color $gray[1]
        width 100%
        height 0.3125rem
        border-radius 0.3125rem

      &_line
        position absolute
        top 1.375rem
        left 0
        background-color $orange[0]
        width 0
        height 0.3125rem
        border-radius 0.3125rem

      .video__slider-input
        position relative
        margin 0
        padding 0
        width 100%
        height 100%
        background-color transparent

        &::-webkit-slider-runnable-track
          background-color transparent
          border-radius 0.3125rem

          &::-webkit-slider-thumb
            background-color $orange[0]

    &__button-full
      flex 0 0 $height
      height $height
      background $orange[0] url($path + 'fullScreen.svg') no-repeat center
      border-bottom-right-radius 0.2rem

      &:hover
        background-size 2.75rem

    &__slider-input
      // track - линия
      $track-color = $gray[1]
      // thumb - ползунок
      $thumb-color = $orange[0]
      $thumb-radius = 0.625rem
      $thumb-size = 1.25rem

      track()
        width 100%
        height 0.3125rem
        border-radius 0.3125rem
        background-color transparent
        cursor pointer
      thumb()
        margin-top -0.47rem
        height $thumb-size
        width $thumb-size
        border-radius $thumb-radius
        background $thumb-color
        cursor pointer

      -webkit-appearance none
      -moz-appearance none
      width 100%
      margin 2.5rem 0 0 0
      opacity 0.99
      background-color transparent

      &:focus
        outline none

      &::-webkit-slider-runnable-track
        track()
      &::-webkit-slider-thumb
        thumb()
        -webkit-appearance none

      &::-moz-range-track
        track()

      &::-moz-range-thumb
        thumb()
        border none

      &::-ms-track
        track()
        background transparent
        border-color transparent
        border-width $thumb-size 0
        color transparent

      &::-ms-fill-lower
        background yellow
        border-radius 0.625rem

      &::-ms-fill-upper
        background $track-color
        border-radius 0.625rem

      &::-ms-thumb
        thumb()
