mixin video(src,title)
    if(!src)
        -src = 'http://default'
    if(!title)
        -title = 'Title'
    .video
        .video__shade
        .video__title
            h1 #{title}
            h4 #{src}
        <video preload ontimeupdate="videoUpdate(event)" src="#{src}"></video>
        .video__controls(onclick="videoClick(event)")
            .video__button.video__button-play
            .video__slider
                .video__slider_line-full
                .video__slider_line
                <input type="range" class="video__input" oninput="videoInput(event.target)" min="0" max="100" value="0"></input>
            .video__button-full