mixin video(options)
    if (!options || (typeof(options) !== 'object'))
        - options = {}
    - var src = 'no src!'
    if (options.src)
        - var url = require('../video/' + options.src + '.jpg')
        - src = require('../video/' + options.src + '.mp4')
    - options.title = options.title || 'Title'
    - options.mix = options.mix || ''

    div(class = "js-video video " + options.mix)
        .video__text
            .video__title #{options.title}
            .video__src #{src}
        if(options.src)
            video.video__video(poster = url src = src)
        else
            video.video__video
        .video__controls
            .video__button
            +slider({ min: 0, max: 100, value: 0, color: 'orange', mix: 'video__slider-mix', line: true })
            .video__button-full
